html {
    scroll-behavior: smooth;
  }

  * { margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", "Lucida Console", "Courier New", monospace;
}

  
body {
    background-color: bisque;
}

.discover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 11em;
    margin-bottom: 10em;
    text-decoration: none;
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #f14501;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

header
{
	height: 100vh;
	background-image: url(https://plus.unsplash.com/premium_photo-1661311950994-d263ea9681a1?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	justify-content: center;
	margin-bottom: 30px;
}

.header h1{
    font-family: monospace;
    color: darkblue;
}

#down
{
	position: absolute;
	top:85vh;
	size: 40px;
	padding: 20px;
	font-size: 2.5em;
}

#down:hover
{
	cursor: pointer;
	background-color: #eee;
	opacity: 0.8;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    float: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 50px;
    border-radius: 30px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.navbar li {
    float: right;
    margin-right: 10px;
  }

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li :hover {
    transform: translateY(-8px);
    border-bottom: 2px solid white;
}


h1 { color: rgb(171, 22, 171);
    position: relative;
    top: 2em;
}

.firstline {
    font-style: italic;
    position: relative;
    top: 4em;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    width: 50%;
    border-radius: 8px;
    opacity: 20%

 }

 img:hover {
    opacity: 100%;
 }



 [class*=classic]:before {
    content:"Loading...";
  }

  
  .loading {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-family: monospace;
    color: dimgray;
    font-size: 1.5em;
    clip-path: inset(0 3ch 0 0);
    animation: c4 1s  infinite;
  }
  @keyframes c4 {to{clip-path: inset(0 0 0 0)}}
  
.footer {
    left: 0;
    bottom: 0;
    padding-bottom: 1em;
    min-height: fit-content;
    width: 100%;
    background-color: saddlebrown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 1em;
}

.social-icon__item {
  list-style: none;
    margin: 0 10px;;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
    border-top: 1px solid burlywood;
    padding: 1em;
    font-size: small;
}

/* different navbars per page */
.navbardog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
.navbardog li {
    float: right;
  }

.navbardog li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbardog li :hover {
    transform: translateY(-8px);
    border-bottom: 2px solid white;
}


.footerdog {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 3em;
    min-height: fit-content;
    width: 100%;
    background-color: saddlebrown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.social-icon_dog{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 1em;
}

.social-icon__item {
  list-style: none;
    margin: 0 10px;;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  scale: 1.3;
}

.pdog {
    border-top: 1px solid burlywood;
    padding: 1em;
    font-size: x-small;
}
